*.dbg
*.bin
*.exe
*.pdb
*.tmp
*.o
*.so
*.gch
*.pch
*.dll
*.a
*.lib
*.bak
out
*~
.directory
.DS_Store
*.orig
*.rej
*.bak
*.kate-swp
*.core
*.diff
*.patch
*.out
*.vscode*
GPATH
GTAGS
GRTAGS
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
build*/
*.vim
